@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-background-dark: #0a0a0a;
  --color-foreground-dark: #ededed;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--color-background-dark);
    color: var(--color-foreground-dark);
  }
}
